
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "poppins",sans-serif;
}
.container{
width: 100%;
height: 100vh;
display: flex;
background-image: url(../images/kcb.png),no-repeat;

background-position: center;
background-size: auto;
position: relative;

}
.box-form{
width: 90%;
max-width: 450px;
position: absolute;
top: 50%;
left: 45%;
transform: translate(-50%, -50%);
text-align: center;
padding: 20px 20px 40px;
background: white;
color: rgb(255, 255, 255);
border: 2px solid rgb(61, 211, 106) ;
height:90vh;
max-height: fit-content;


}
.box-form h1{
color: blue;
font-size: 30px;
position: relative;
margin-bottom: 60px;
}
.box-form h1::after{
content: '';
width: 30px;
height: 5px;
border-radius: 3px;
background: blue;
position: absolute;
bottom: -12px;
left: 50%;


}
.input-field{
margin: 15px 0;
background: rgb(145, 149, 207);
display: flex;
border-radius: 3px;
align-items: center;
max-height: 65px;
transition: max-height 0.5s;
overflow: hidden;
}
input{
outline: 0;
border: 0;
padding: 18px 15px;
width: 100%;
background: transparent;

}
.input-field i{
margin-left: 15px;
color: rgb(255, 47, 47);
}
form {
text-align: left;
font-size: 12px;

}
form p a{
text-decoration: none;
color: chocolate;
}
.btn{
display: flex;
justify-content: space-between;
width: 100%;
}
.btn button{
flex-basis: 48%;
background: white;
color: firebrick;
cursor: pointer;
border-radius: 20%;
border: 0;
outline: 0;
transition: background 1s;
height: 40px;
}
.input-group{
height: 280px;
}
.btn button.disabled{
background: rgb(128, 128, 128) ;
color: #555;

}
p{
    color: #000;
}
